* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#app {
  width: 100vw;
  height: 100vh;
}
#app {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1;
  overflow: auto;
}
li {
  list-style: none;
}
.nav {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-around;
  box-shadow: 1px 0 1px;
}
.nav li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav span {
  font-size: 0.6rem;
}
.nav li.active {
  color: deeppink;
}
img {
  display: block;
  max-width: 100vw;
}
a {
  text-decoration: none;
}
.top {
  height: 6vh;
  line-height: 6vh;
  color: skyblue;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gray;
}
.top img {
  float: left;
}
.top span {
  font-weight: bold;
  float: left;
  color: black;
}
.backTo {
  position: absolute;
  top: 0;
  left: 1rem;
}
